p {
	display: inline-block;
	background-color:#66ccff;
}

button {
	background-color: orange;

}
.centered{
	display: flex;
	flex-direction: column;
	background-color:grey;
}
#addTask {
	display:block;
	margin: 2% 35%;
	padding: 0;
}
textarea {
	text-align: center;
	background-color:#66ccff;
	font-size:15px;
} 
#newlist {
	display: flex;
	flex-direction: column;
	background-color:grey;	
}
#newlist > div {
	text-align: center;
	margin: 2% 20%;
	padding: 0;
}
.taskList {
	display:flex;
	flex-direction: row;
}
.taskList > div {
	text-align: center;
}