body {
	background-color: #398ec6;
}
#addTask {
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	background-color: #538fbe;
	padding: 10px 10px;
	font-size: 24px;
	border: 1px solid #2d6898;
	border-radius: 5px;
	text-shadow: 0px -1px 0px rgba(0,0,0,.5);
	box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	transition: all .2s ease-in-out;
	transform: rotateX(25deg);
	outline:none;
}
#addTask:active {
	box-shadow: 0px 2px 0px #2b638f, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	transform: translate(0, 4px);  
}
.newList {
	display: flex;
	flex-direction: column;
}

.taskList {
	display: flex;
	margin: 3% 20%;
	width: 60%;
	min-height: 52px;
	border: 2px solid black;
	border-radius: 25px;
	background-color:#808080
}

.taskList > p {
	margin-left: auto;
	margin-right: auto;
	margin-top: 4px;
	margin-bottom: 4px;
	width: calc(100% - 136px);
	height: inherit;
	word-break: break-all;
	border: 2px solid black;
	border-radius: 16px;
	padding: 5px;
	background-color:#F5F5DC;
}

.taskList > button {
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 4px;
	cursor:pointer;
	font-weight: bold;
	font-size:30px;
	border-style:solid;
	padding: 0;
	transition: all .2s ease-in-out;
	outline:none;
	cursor: pointer;
}

.doneBtn{
	border-width:1px;
	margin-left: 4px;
	margin-right: 8px;
	box-shadow: 0 0 4px 0 #e6ffe6 inset;
	border-left-color:#00b300;
	border-right-color:#00b300;
	border-top-color:#999;
	border-bottom:4px solid #006600;
	background-color: #00b300;
}

.doneBtn:active{
	margin-top: 2px;
	box-shadow: 0 0 4px 0 #006600 inset;
	border:1px solid #003300;
}
.unDoneBtn{
	background-color: #3385ff;
	margin-left: 4px;
	margin-right: 8px;
	border-width:1px;
	box-shadow: 0 0 4px 0 #b3d1ff inset;
	border-left-color:#80b3ff;
	border-right-color:#80b3ff;
	border-top-color:#b3d1ff;
	border-bottom:4px solid #0052cc;
}
.unDoneBtn:active{
	margin-top: 2px;
	box-shadow: 0 0 4px 0 #006600 inset;
	border:1px solid #003300;
}
.delBtn{
	background-color: #ff3333;
	margin-left: 4px;
	margin-right: 8px;
	border-width:1px;
	box-shadow: 0 0 4px 0 #ffb3b3 inset;
	border-left-color: #ff3333;
	border-right-color: #ff3333;
	border-top-color: #ff8181;
	border-bottom:4px solid #b30000;
}
.delBtn:active{
	margin-top: 2px;
	box-shadow: 0 0 4px 0 #006600 inset;
	border:1px solid #003300;
}

.taskList > textarea {
	margin-left: auto;
	margin-right: auto;
	margin-top: 4px;
	margin-bottom: 4px;
	width: calc(100% - 136px);
	resize:vertical;
	border-radius:16px;
	border:2px solid black;
	outline:none;
	padding: 5px;
	background-color:#F5F5DC;
	transition: box-shadow 0.3s ease-in;
}

.taskList > textarea:focus {
	background-color:#FDEAA8;
	box-shadow: 0 0 0 2px #FFA000;
}